---
import { premium, executivePlus } from "../../components/CardsData.astro";
import Layout from '../../layouts/Layout.astro';

const { product } = Astro.props;

export async function getStaticPaths() {
  const premiumPaths = premium.map(product => ({ params: { code: product.code } }));
  const executivePlusPaths = executivePlus.map(product => ({ params: { code: product.code } }));
  return [
    ...premiumPaths,
    ...executivePlusPaths,
  ];
}

export async function get({ params }) {
  const product = premium.find(p => p.code === params.code) || executivePlus.find(p => p.code === params.code);

  if (!product) {
    return { notFound: true };
  }

  return {
    props: {
      product,
    },
  };
}
---  
<!-- <Layout title={product.imgAlt}>
  <div>
    <h1>{product.imgAlt}</h1>
    <img src={`/productos/${product.imgSrc}.webp`} alt={product.imgAlt} />
    <p>Price: U$S {product.price}</p>
    <p>Size: {product.size}m²</p>
    <p>Bedrooms: {product.bedrooms}D</p>
    <p>Bathrooms: {product.bathrooms}B</p>
  </div>
</Layout> -->
