---
import Layout from "../layouts/Layout.astro";
import Modal from "../components/Modal.astro";
import {
  premium,
  executivePlus,
  executive,
  basic,
  isopanel,
} from "../../public/proyectos.json";

export const allProducts = [
  ...premium,
  ...executivePlus,
  ...executive,
  ...basic,
  ...isopanel,
];

export function getStaticPaths() {
  const paths = allProducts.map((product) => ({
    params: { code: product.code },
  }));

  return paths;
}
const { code } = Astro.params;
const productData = allProducts.find((product) => product.code === code);

if (!productData) {
  return {
    notFound: true,
  };
}

const {
  category,
  imgAlt,
  price,
  size,
  line,
  roof,
  description,
  cover,
  paint,
  serie,
  floor,
  counter,
  estimated,
  images,
  coating,
  front,
  extras,
} = productData;
---

<Layout
  title={`Proyecto: ${code} | Pani Construcciones`}
  description={`Descubre el proyecto ${code}, una residencia moderna y eficiente construida en ${line === "Isopanel" ? "Isopanel" : "Steel Framing"}. Explora sus características, planos y materiales utilizados. ¡Construye tu hogar ideal con nosotros!`}
  canonical={`https://paniconstrucciones.com/proyectos/${code}`}
>
  <section class="w-full">
    <div
      class="flex justify-between items-center px-2 lg:px-10 py-3 bg-custom-gray text-white font-[Archivo]"
    >
      <h1 class="text-lg lg:text-2xl font-bold uppercase font-[DMSans]">
        {line}
      </h1>
      <h2 class="text-lg lg:text-2xl uppercase font-bold font-[DMSans]">
        Código: {code}
      </h2>
    </div>
    <div class="aspect-w-16 aspect-h-9 flex justify-center -mt-1">
      <img
      width="1360px" height="768px"
        class="w-full h-auto"
        src={`/assets/images/proyectos/${category}/${code}.webp`}
        alt={imgAlt}
      />
    </div>
    <div
      class="p-2 w-full h-auto flex flex-col lg:flex-row justify-center items-center"
    >
      <div
        class="w-full h-auto flex flex-col items-start justify-center p-2 lg:pl-20"
      >
        <h2
          class="font-bold pt-4 pb-2 text-xl border-b-4 border-custom-blue inline-block"
        >
          {size}m² | Techo {roof}
        </h2>
        <p class="pt-6 px-2 text-xs lg:text-base lg:whitespace-nowrap">
          {description}
        </p>
        {
          extras && (
            <p class=" p-2 px-2 text-xs lg:text-base italic">{extras}</p>
          )
        }
        <h2
          class="uppercase font-bold pt-4 pb-2 text-xl border-b-4 border-custom-blue inline-block"
        >
          Características
        </h2>
        {
          line === "Isopanel" ? (
            <ul class="list-disc list-inside p-2 lg:p-4 space-y-2 text-xs lg:text-base">
              <li>Cimentación de platea de hormigón reforzada.</li>
              <li>Muros de Isopanel de 10cm de espesor.</li>
              <li>Cubierta de Isopanel de {cover}</li>
              <li>Terminación exterior con pintura texturada.</li>
              <li>Terminación interior de yeso.</li>
              {front !== "" ? <li>{front}</li> : ""}
              <li>Pintura interior {paint}.</li>
              <li>Aberturas en aluminio serie {serie}, color a elección.</li>
              <li>Pisos y revestimientos de {floor}.</li>
              <li>Loza sanitaria y griferías.</li>
              <li>{counter} de granito, color a elección.</li>
              <li>
                Muebles en melaminico 18mm, diseño a medida y color a elección.
              </li>
              <li>
                Instalación sanitaria y eléctrica completas según reglamentos y
                ordenanzas vigentes.
              </li>
            </ul>
          ) : (
            <ul class="list-disc list-inside p-2 lg:p-4 space-y-2 text-xs lg:text-base">
              <li>Cimentación de platea de hormigón reforzada.</li>
              <li>Muros de perfilería de Steel Framing (acero galvanizado).</li>
              <li>Cubierta de Isopanel de {cover}</li>
              <li>{coating}</li>
              <li>Terminación exterior con revoque fino.</li>
              {front !== "" ? <li>{front}</li> : ""}
              <li>Pintura interior {paint}.</li>
              <li>Pintura exterior Sherwin Williams Loxon.</li>
              <li>Aberturas en aluminio serie {serie}, color a elección.</li>
              {line === "Premium" ? (
                <li>Mosquiteros en aberturas de aluminio.</li>
              ) : (
                ""
              )}
              <li>Pisos y revestimientos de {floor}.</li>
              <li>Loza sanitaria y griferías.</li>
              <li>{counter} de granito, color a elección.</li>
              <li>
                Muebles en melaminico 18mm, diseño a medida y color a elección.
              </li>
              <li>
                Instalación sanitaria y eléctrica completas según reglamentos y
                ordenanzas vigentes.
              </li>
            </ul>
          )
        }
      </div>
      <div class="w-full flex flex-col justify-center items-center">
        <Modal
          src={`/assets/images/proyectos/${category}/${code}/plano.webp`}
          alt={`plano de obra del proyecto ${code}`}
        />
        <p class="py-4 text-xs lg:text-base">
          Tiempo de obra: {estimated} días hábiles.
        </p>
        <p class="text-custom-blue font-bold text-5xl">U$S {price}</p>
        <p class="text-xs lg:text-sm font-bold italic">
          con terminación de techo {roof}
        </p>
        <p class="py-4 w-[75%] text-xs lg:text-base">
          Se incluye mano de obra, materiales, anteproyecto y proyecto
          ejecutivo. Trámites, gestiones y pagos ante BPS, DGI, MTSS, FOCER e
          Intendencia.
        </p>
        <p class="lg:text-sm font-bold text-xs">
          (*) Consultar por opcionales y accesorios:
        </p>
        <p class="lg:text-sm font-bold text-xs">(parrillero, pérgola, deck, piscina, vereda perimetral, etc).</p>
      </div>
    </div>
    <div
      class="w-full mb-2 lg:mb-8 lg:w-[80%] mx-auto px-4 flex flex-wrap justify-center lg:grid lg:grid-cols-3"
    >
      {
        images.map((image) => (
          <div class="w-full px-4 lg:px-10 mx-auto">
            <Modal
              src={`/assets/images/proyectos/${category}/${code}/${image}.webp`}
              alt={`Imagen de maqueta de proyecto ${code}`}
            />
          </div>
        ))
      }
    </div>
  </section>
</Layout>
