---
import Layout from "../layouts/Layout.astro";
import { allCards } from "../components/CardsData.astro";

export function getStaticPaths() {
  const paths = allCards.map((card) => ({
    params: { imgSrc: card.imgSrc },
  }));

  return paths;
}
const { imgSrc } = Astro.params;
const cardData = allCards.find((card) => card.imgSrc === imgSrc);

if (!cardData) {
  return {
    notFound: true,
  };
}

const { imgAlt, price, size, bedrooms, bathrooms } = cardData;
---

<Layout title={`Código: ${imgSrc}`}>
  <div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold">{imgAlt}</h1>
    <img
      src={`/productos/${imgSrc}.webp`}
      alt={imgAlt}
      class="w-full rounded-lg"
    />
    <p>Precio: U$S {price}</p>
    <p>Tamaño: {size}m²</p>
    <p>Dormitorios: {bedrooms}D</p>
    <p>Baños: {bathrooms}B</p>
    <p>Código: {imgSrc}</p>
  </div>
</Layout>
