---
interface Props {
  code: string;
  imgAlt: string;
  price: string;
  size: string;
  bedrooms: string;
  bathrooms: string;
  category: string;
}

const { code, imgAlt, price, size, bedrooms, bathrooms, category } = Astro.props;
---

<a href={`/${code}`} class="block">
  <div
    class="flex flex-col py-4 md:p-4 lg:p-6 rounded transition-transform items-center w-full h-auto"
  >
    <div class="overflow-hidden aspect-w-16 aspect-h-9">
      <img
        width="476px" height="268px"
        class="w-screen lg:w-full h-auto -mb-1 md:rounded-t-sm object-cover lg:hover:scale-150 transition-transform duration-300" 
        src=`/assets/images/proyectos/${category}/thumbnails/${code}.webp`
        alt={imgAlt}
        loading={category !== "premium" && category !== "isopanel" ? "lazy": "eager"}
        />
    </div>
    <div
      class="w-full h-auto flex bg-custom-gray text-white justify-between p-3 md:rounded-b-sm"
    >
      <div class="flex items-center w-auto h-auto">
        <p>{`U$S ${price}`}</p>
      </div>
      <div class="flex items-center w-auto h-auto">
        <p>{`${size}m²`}</p>
        <div class="h-6 w-1 bg-custom-blue mx-1 flex items-center"></div>
        <>{bedrooms}<svg class="pl-1 h-5" viewBox="0 0 640 512"><path fill="#fff" d="M32 32c17.7 0 32 14.3 32 32V320H288V160c0-17.7 14.3-32 32-32H544c53 0 96 43 96 96V448c0 17.7-14.3 32-32 32s-32-14.3-32-32V416H352 320 64v32c0 17.7-14.3 32-32 32s-32-14.3-32-32V64C0 46.3 14.3 32 32 32zm144 96a80 80 0 1 1 0 160 80 80 0 1 1 0-160z"/></svg></>
        <div class="h-6 w-1 bg-custom-blue mx-1 items-center"></div>
        <>{bathrooms}<svg  class="pl-1 h-5" viewBox="0 0 512 512"><path fill="#fff" d="M64 131.9C64 112.1 80.1 96 99.9 96c9.5 0 18.6 3.8 25.4 10.5l16.2 16.2c-21 38.9-17.4 87.5 10.9 123L151 247c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0L345 121c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-1.3 1.3c-35.5-28.3-84.2-31.9-123-10.9L170.5 61.3C151.8 42.5 126.4 32 99.9 32C44.7 32 0 76.7 0 131.9V448c0 17.7 14.3 32 32 32s32-14.3 32-32V131.9zM256 352a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm64 64a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm0-128a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm64 64a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm0-128a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm64 64a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm32-32a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"/></svg></>
      </div>
    </div>
  </div>
</a>