---
const finished = [
  { id: 1, details: "Solanas Design Village | 166m²", city: "Maldonado" },
  { id: 2, details: "Mirador de la Tahona | 150m²", city: "Canelones" },
  { id: 3, details: "Mirador de la Tahona | 123m²", city: "Canelones" },
  { id: 4, details: "Barrio Golf | 193m²", city: "Maldonado" },
  { id: 5, details: "Solanas Design Village | 167m²", city: "Maldonado" },
  { id: 6, details: "Mirador de la Tahona | 207m²", city: "Canelones" },
  { id: 7, details: "Solanas Design Village | 167m²", city: "Maldonado" },
  { id: 8, details: "La Horqueta Chacras | 360m²", city: "Canelones" },
  { id: 9, details: "Barrio Golf | 193m²", city: "Maldonado" },
  { id: 10, details: "Parque del Plata | 50m²", city: "Canelones" },
  { id: 11, details: "Parque del Plata | 50m²", city: "Canelones" },
  { id: 12, details: "Atlantida | 97m²", city: "Canelones" },
  { id: 13, details: "Pueblo Colón | 115m²", city: "Lavalleja" },
  { id: 14, details: "La Horqueta Chacras | 148m²", city: "Canelones" },
  { id: 15, details: "Lomas de Solymar | 190m²", city: "Canelones" },
  { id: 16, details: "Solanas Design Village | 170m²", city: "Maldonado" },
  { id: 17, details: "Villa Juana | 143m²", city: "Canelones" },
  { id: 18, details: "Colonia del Sacramento | 152m²", city: "Colonia" },
  { id: 19, details: "Barra de Carrasco | 150m²", city: "Montevideo" },
  { id: 20, details: "Libertad | 90m²", city: "San José" },
  { id: 21, details: "Mirador de la Tahona | 150m²", city: "Canelones" },
  { id: 22, details: "Atlántida | 165m²", city: "Canelones" },
  { id: 23, details: "La Horqueta Chacras | 148m²", city: "Canelones" },
  { id: 24, details: "La Horqueta Chacras | 148m²", city: "Canelones" },
  { id: 25, details: "Juan Lacaze | 55m²", city: "Colonia" },
  { id: 26, details: "Melo | 80m²", city: "Cerro Largo" },
  { id: 27, details: "Ocean Park | 67m²", city: "Maldonado" },
  { id: 28, details: "Cardona | 110m²", city: "Soriano" },
  { id: 29, details: "Ciudad de Rocha | 90m²", city: "Rocha" },
  { id: 30, details: "Piriápolis | 70m²", city: "Maldonado" },
  { id: 31, details: "Parque Miramar | 200m²", city: "Canelones" },
  { id: 32, details: "Punta Ballena | 117m²", city: "Maldonado" },
  { id: 33, details: "Piriápolis | 70m²", city: "Maldonado" },
  { id: 34, details: "Cuchilla Alta | 67m²", city: "Canelones" },
  { id: 35, details: "Solymar | 35m²", city: "Canelones" },
  { id: 36, details: "Mirador de la Tahona | 48m²", city: "Canelones" },
  { id: 37, details: "Santa Mónica | 77m²", city: "Maldonado" },
  { id: 38, details: "Rincón de Tres Cerros | 150m²", city: "Rivera" },
  { id: 39, details: "La Paloma | 116m²", city: "Rocha" },
  { id: 40, details: "La Floresta | 59m²", city: "Canelones" },
  { id: 41, details: "La Floresta | 59m²", city: "Canelones" },
  { id: 42, details: "Garage - Barrio Golf | 36m²", city: "Maldonado" },
  { id: 43, details: "Altos de la Tahona | 19m²", city: "Canelones" },
];
---

<div
  id="animation-carousel"
  class="relative mx-auto w-full lg:w-[80%] pt-2 lg:p-6"
  data-carousel="static"
>
  <div
    class="relative overflow-hidden max-h-screen flex items-center justify-center"
  >
    <div
      class="w-full flex transition-transform duration-500 ease-in-out"
      id="carousel-items"
    >
      {
        finished.map(({ id, details, city }) => (
          <div class="w-full flex-shrink-0 relative">
            <img
              width="1360"
              height="595"
              src={`/assets/images/obras/${id}.webp`}
              class="block w-full mx-auto h-full lg:w-auto object-contain"
              alt={`Imagen de obra en ${details}`}
              loading="lazy"
            />
            <div class="absolute w-full bottom-0 left-0 bg-custom-black/75 text-white px-2 lg:py-2">
              <p class="text-center text-base font-bold lg:text-xl">
                {details} | {city}
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <button
    type="button"
    class="absolute top-1/2 left-0 lg:left-3 z-10 flex items-center justify-center px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev
    disabled
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-custom-blue/40 dark:bg-custom-blue/40 transition-transform duration-200 ease-linear lg:dark:group-hover:bg-custom-blue group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white dark:text-custom-white rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1 1 5l4 4"></path>
      </svg>
      <span class="sr-only">Anterior</span>
    </span>
  </button>
  <button
    type="button"
    class="absolute top-1/2 right-0 lg:right-3 z-10 flex items-center justify-center px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-custom-blue/40 dark:bg-custom-blue/40 transition-transform duration-200 ease-linear lg:dark:group-hover:bg-custom-blue group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white dark:text-custom-white rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"></path>
      </svg>
      <span class="sr-only">Siguiente</span>
    </span>
  </button>
</div>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const prevButton = document.querySelector("[data-carousel-prev]");
    const nextButton = document.querySelector("[data-carousel-next]");
    const itemsContainer = document.getElementById("carousel-items");
    const items = document.querySelectorAll("#carousel-items > div");
    const totalItems = items.length;

    if (!prevButton || !nextButton || !itemsContainer) {
      return;
    }

    let activeIndex = 0;

    function updateButtons() {
      prevButton.disabled = activeIndex === 0;
      nextButton.disabled = activeIndex === totalItems - 1;
    }

    function updateCarousel(newIndex) {
      const offset = -newIndex * 100;
      itemsContainer.style.transform = `translateX(${offset}%)`;
      activeIndex = newIndex;
      updateButtons();
    }

    prevButton.addEventListener("click", () => {
      if (activeIndex > 0) {
        const newIndex = activeIndex - 1;
        updateCarousel(newIndex);
      }
    });

    nextButton.addEventListener("click", () => {
      if (activeIndex < totalItems - 1) {
        const newIndex = activeIndex + 1;
        updateCarousel(newIndex);
      }
    });

    updateButtons();
  });
</script>
