---
const { src, alt } = Astro.props;
---

<div class="relative">
  <img
    class="toggle-modal p-2 w-screen h-auto lg:w-96 cursor-pointer mx-auto rounded"
    width="400px"
    height="300px"
    src={src}
    alt={alt}
    loading="lazy"
  />

  <div
    class="modal-backdrop w-screen h-auto mx-auto z-30 fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden"
  >
    <div
      class="modal-content w-screen h-auto lg:h-screen lg:w-auto flex items-center justify-center"
    >
      <img
        width="1366px"
        height="768px"
        src={src}
        alt={alt}
        class="modal-image w-screen h-auto lg:w-auto lg:h-[80%] transition-transform duration-300 transform scale-0"
      />
    </div>
  </div>
</div>

<script is:inline data-astro-rerun>
  document.addEventListener("astro:page-load", () => {
    const modalElements = document.querySelectorAll(".toggle-modal");

    modalElements.forEach((modalElement) => {
      const modal = modalElement.nextElementSibling;
      const modalImage = modal.querySelector(".modal-image");

      modalElement.addEventListener("click", (event) => {
        const rect = modalElement.getBoundingClientRect();
        const originX = rect.left + rect.width / 2;
        const originY = rect.top + rect.height / 2;
        const viewportWidth = window.innerWidth;
        const viewportHeight = window.innerHeight;

        const originPercentX = (originX / viewportWidth) * 100;
        const originPercentY = (originY / viewportHeight) * 100;

        modalImage.style.transformOrigin = `${originPercentX}% ${originPercentY}%`;

        modal.classList.remove("hidden");
        setTimeout(() => {
          modalImage.classList.remove("scale-0");
          modalImage.classList.add("scale-100");
        }, 10);
      });

      modal.addEventListener("click", () => {
        modalImage.classList.remove("scale-100");
        modalImage.classList.add("scale-0");
        setTimeout(() => {
          modal.classList.add("hidden");
        }, 200);
      });
    });
  });
</script>
